body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.logo {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 90px;
}