@import '../../constants.scss';

@keyframes scaling {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
    }
}

.analyze-page {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px;

    .chart-area {
        #chartContainer {
            float: left;
        }

        .current-date {
            font-size: 30px;
            margin: 0;
            color: #333333;
            font-weight: 300;
            padding: 0;
            text-align: left;
        }

        .title {
            font-size: 37px;
            margin: 0;

            strong {
                background: transparent;
                &.anger {
                    color: $anger;
                }
                &.sadness {
                    color: $sad;
                }
                &.fear {
                    color: $fear;
                }
                &.joy {
                    color: $joy;
                }
                &.disgust {
                    color: $disgust;
                }
                animation: scaling 0.5s ;
            }
        }

    }

    .description-list {
        float: left;
        max-width: calc(100% - 410px);
    }
}