@import '../../constants.scss';

.chat {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

.fadeOut {
    opacity: 0;
}

.emotion-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    opacity: .1;
    margin-top: 30px;
}

.disgust {
    background-color: $disgust;
}

.anger {
    background-color: $anger;
}

.joy {
    background-color: $joy;
}

.fear {
    background-color: $fear;
}

.sadness {
    background-color: $sad;
}