@import '../../constants.scss';

.weekdays-list {
    max-width: 85%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            height: 57px;
            width: 120px;
            display: inline-block;
            margin: 0 5px;
            vertical-align: bottom;
            cursor: pointer;

            &.calendar {
                border: 1px solid #222;
                border-bottom: 0;

                i {
                    font-size: 22px;
                    line-height: 60px;
                    text-align: center;
                    display: block;
                    color: #222;
                }
            }

            &.active {
                line-height: 70px;
                .day-name {
                    font-size: 20px;
                }
            }

            .day-name {
                color: #fff;
                text-align: center;
                font-size: 12px;
                display: block;
                margin: 8px 0 5px 0;
            }

            .date {
                color: #fff;
                text-align: center;
                font-size: 19px;
                text-transform: uppercase;
                display: block;
                margin: -4px 0 5px 0;
            }

            &.active {
                height: 80px;
            }
        }
    }
}