<!DOCTYPE html>
<html>
    <head>
        <title>My Journal</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/bundle.css">
    </head>
    <body>
        <div id="app"></div>

        <script src="https://use.fontawesome.com/338b6787f0.js"></script>
        <script src="/watson-speech.js"></script>
        <script src="/canvasjs.min.js"></script>
        <script async src="/bundle.js"></script>
        
        {{#if analytics}}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-88592931-1', 'auto');
            ga('send', 'pageview');
        </script>
        {{/if}}
    </body>
</html>