.chat-message {
    text-align: center;
    position: absolute;
    bottom: 220px;
    width: 100%;
    padding: 0 10%;
    font-weight: bold;
    animation: fadeIn 1s forwards;
    font-size: 32px;
    color: #fff;

    &--hidden {
        animation: fadeOut 1s forwards;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}