@import '../../constants.scss';

.description-list {
    padding: 45px 0  0 48px;
    font-size: 13px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 13px 0;
            position: relative;
            background: transparent;

            &:before {
                content: " ";
                width: 12px;
                height: 12px;
                position: absolute;
                top: 0;
                left: -21px;
                border-radius: 100%;
                transform: translateY(33%);
            }

            &.anger {
                &:before {
                    background: $anger;
                }
            }

            &.fear {
                &:before {
                    background: $fear;
                }
            }

            &.disgust {
                &:before {
                    background: $disgust;
                }
            }

            &.sadness {
                &:before {
                    background: $sad;
                }
            }

            &.joy {
                &:before {
                    background: $joy;
                }
            }
        }
    }
}