.home-page {
    background-color: rgb(38, 38, 38);
    min-height: 100vh;

    &__cta {
        line-height: 290px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 30px;
        border: 0;
        width: 300px;
        height: 300px;
        color: #fff;
        text-decoration: none;

        &-background {
            background: url('/start-button.png') no-repeat;
            background-size: 300px 300px;
            position: absolute;
            width: 300px;
            height: 300px;
            left: 0;
            top: 0;
            animation: rotateBg 3s infinite linear;
        }
    }
}

@-webkit-keyframes rotateBg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}