.audio-graph {
    height: 200px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;

    &:before {
        display: inline-block;
        height: 200px;
        content: '';
        vertical-align: middle;
    }

    &__item {
        width: 4px;
        background-color: #fff;
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
        vertical-align: middle;

        transition: height .2s linear;
    }
}